<div class="container">
    <div *ngIf="editForm.dirty" class="alert alert-info">
        <p>
          <strong>Information:</strong> You have made changes. Any unsaved changes will be lost!</p>
    </div>
    <div class="jumbotron" style="margin-top: 90px;">
        <h5 class="display-3">Edit Data Id:{{data.data.id}}: </h5>
        <form #editForm="ngForm" id="editForm" (ngSubmit)="updateData()">
            <label for="name">Name: </label>
            <input type="text" name="name" class="form-control" [(ngModel)]="data.data.name">
            <label for="price">Value: </label>
            <input type="text" name="value" class="form-control" [(ngModel)]="data.data.value">
          </form>
        <p class="lead">
          <button [disabled]="!editForm.dirty" form="editForm" class="btn btn-success btn-block">Save Changes</button>
        </p>
    </div>
</div>
