<div class="container mt-5">
  <div class="row">
    <a class="btn btn-success" [routerLink]="['/data/add']"><i class="fa fa-plus" aria-hidden="true"></i> Add New Data</a>
   </div>

  <div class="row">
    <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Value</th>
          </tr>
        </thead>
        <tbody>
            <tr class="table-dark" *ngFor="let data of datas.data.items">
                <th scope="row">{{data.id}}</th>
                <td>{{data.name}}</td>
                <td>{{data.value | currency}}</td>
                <td>
                    <a class="btn btn-success" [routerLink]="['/data/'+data.id]" ><i class="fa fa-search"></i> </a>
                    <a class="btn btn-warning" [routerLink]="['/data/edit/'+data.id]"><i class="fa fa-pencil"></i></a>
                    <a class="btn btn-danger" (click)="deleteData(data.id)"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        </tbody>
      </table>
  </div>
</div>
