<div class="container">
      <div class="jumbotron" style="margin-top: 90px;">
          <h5 class="display-3">Data details: </h5>
          <p class="lead">Id: {{data.data.id}} </p>
          <p class="lead">Name: {{data.data.name}}</p>
          <p class="lead">Value: {{data.data.value |currency}}</p>
          <p class="lead">
            <a class="btn btn-success btn-lg" [routerLink]="['/data/edit/'+data.data.id]" role="button">Edit</a>
          </p>
          <p class="lead">
              <a class="btn btn-danger btn-lg" (click)="deleteData(data.data.id)" href="#" role="button">Delete</a>
          </p>
      </div>
  </div>
