<div class="container">
    <div *ngIf="editForm.dirty" class="alert alert-info">
        <p>
          <strong>Information:</strong> You have made changes. Any unsaved changes will be lost!</p>
    </div>
    <div class="jumbotron" style="margin-top: 90px;">
        <h5 class="display-3">Create Data: </h5>
        <form #editForm="ngForm" id="editForm" (ngSubmit)="createData()">
            <label for="name">Name: </label>
            <input type="text" name="name" class="form-control" [(ngModel)]="data.name">
            <div class="form-group">
                <label for="value" class="control-label">Value:</label>
                <div class="form-group">
                  <div class="input-group mb-3">
                    <input type="text" placeholder="0.00" name="value" class="form-control" [(ngModel)]="data.value">
                  </div>
                </div>
            </div>
          </form>
        <p class="lead">
          <button [disabled]="!editForm.dirty" form="editForm" class="btn btn-success btn-block">Add Data</button>
        </p>
    </div>
</div>
